<nav class="navbar navbar-default">
  <div class="container-fluid">
    <h1 class="flex-inline">{{currentSeason}} {{currentDay}} {{dayOfWeek}}</h1>
    <img src="assets\zzz.png" alt="Sleep" class="flex-inline sleep-btn " (click)="advanceDay()">    
  </div>
</nav>

<div *ngFor="let npc of selectedNPCs">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar [src]="npc.image" />
      <mat-card-title>{{npc.today}}</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

<hr />
<mat-form-field class="full-width">
  <mat-select placeholder="Add NPC">
    <mat-option *ngFor="let npc of npcInfo" [7]="npc.id" (click)="addNPC(npc.id)">
      {{npc.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
