<nav class="navbar navbar-default">
  <div class="container-fluid">
    <h1 class="flex-inline">{{dayOfWeek}}, {{currentSeason}} {{currentDay}}, Year {{currentYear}}</h1>
    <img src="assets\zzz.png" alt="Sleep" class="flex-inline sleep-btn " (click)="advanceDay()">
  </div>
</nav>

  <mat-card *ngIf="trackFestivals && todayFestival" class="festival-card">
    <mat-card-header>
      <mat-icon mat-card-avatar>error</mat-icon><strong>{{todayFestival.name}}, {{todayFestival.description}} </strong>
    </mat-card-header>
  </mat-card>

<div *ngFor="let npc of selectedNPCs; let i = index">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar [src]="npc.image" />
      <mat-card-title>{{npc.today}}</mat-card-title>
      <div class="remove-btn">
        <button mat-icon-button color="warn" (click)="removeNPC(i)"> - </button>
      </div>
    </mat-card-header>
  </mat-card>
</div>

<hr />
<div class="container-fluid">
  <mat-form-field class="full-width">
    <mat-select placeholder="Add NPC">
      <mat-option *ngFor="let npc of npcInfo" [value]="npc.id" (click)="addNPC(npc.id)">
        {{npc.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle [(ngModel)]="trackFestivals">Display Festivals / Events</mat-slide-toggle>
</div>
